@using Microsoft.AspNetCore.Http;
<h1>@Context.Session.GetString("CategoryName")</h1>
<a href="/">Home</a>

<h3>Products:</h3>
@using ProductsCategories.Models;
@model Category;
@{
    foreach(var ass in Model.Associations)
    {
        <p>@ass.Product.Name</p>
    }
}
Add Product:

<form action="/AddProduct/@Model.CategoryID" method="POST">
    <select name="product">
        <option value =""></option>
        @{
            foreach(var product in ViewBag.Products)
            {
                <option value="@product.Name">@product.Name</option>
            }
        }

    </select>



    <input type="submit" value="Add">
</form>
